{% extends 'main/layouts.html' %}
{% load static %}
{% block title %}Toutes demandes Manager{% endblock title %}

{% block content %}
    <div class="col-xl-auto col-lg-auto mb-auto mx-auto">
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Demandeur</th>
                    <th>Date Demande</th>
                    <th>Recapulatif</th>
                    <th>Telecharger</th>
                    <th>Statut</th>
                    <th>Modification Statut</th>
                    <th></th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                {% for demande in demandes %}
                    <tr>
                        <td>{{ demande.demande_id }}</td>
                        <td>{{ demande.demandeur }}</td>
                        <td>{{ demande.created_on |date:"d-m-Y" }}</td>
                        <td><a href="{% url 'demande-detail' id=demande.demande_id %}"
                               class="btn btn-sm btn-outline-primary">Recapulatif</a></td>
                        <td><a href="{% url 'demande-download' id=demande.demande_id %}"
                               class="btn btn-sm btn-outline-success">Imprimer</a>
                        </td>
                        <td>
                            <button class="btn btn-block btn-warning">{{ demande.status }}</button>
                        </td>
                        <td>{{ demande.last_modified |date:"d-m-Y" }}</td>

                        {% if demande.manager_valider == False %}
                            <td><a href="{% url 'approuver_superieur' id=demande.demande_id %}"
                                   class="btn btn-block btn-success">Valider la demande</a></td>
                        {% elif demande.manager_valider and demande.terminer == False and demande.admin_valider %}
                            <td><a href="{% url 'bl-detail' id=demande.demande_id %}">Bon de Livraison</a>
                            </td>
                            {% if demande.demandeur == user %}
                                <td><a href="{% url 'demande_terminer' id=demande.demande_id %}"
                                       class="btn btn-block btn-success">Cloturer Demande</a></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% elif demande.manager_valider and demande.terminer %}
                            <td><a href="{% url 'bl-detail' id=demande.demande_id %}">Bon de Livraison</a>
                            </td>
                            <td>Commentaire : {{ demande.commentaire }}</td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            {% if demandes.has_previous %}
                <a href="?page=1" class="btn btn-primary btn-sm">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <a href="?page={{ demandes.previous_page_number }}" class="btn btn-primary btn-sm">
                    <i class="fa fa-angle-left"></i>
                </a>

            {% endif %}
            Page {{ demandes.number }} of {{ demandes.paginator.num_pages }}

            {% if demandes.has_next %}
                <a href="?page={{ demandes.next_page_number }}" class="btn btn-primary btn-sm">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a href="?page={{ demandes.paginator.num_pages }}" class="btn btn-primary btn-sm">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}