{% extends 'main/layouts.html' %}
{% load static %}
{% block title %}Mes demandes{% endblock title %}

{% block content %}
    <div class="col-xl-auto col-lg-auto mb-auto mx-auto">
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Demandeur</th>
                    <th>Date Demande</th>
                    <th>Date Deplacement</th>
                    <th>Date Retour</th>
                    <th>Recapulatif</th>
                    <th>Telecharger</th>
                    <th>Statut</th>
                    <th>Modification statut</th>
                </tr>
                </thead>
                <tbody>
                {% for demande in demandes %}
                    <tr>
                        <td>{{ demande.demande_id }}</td>
                        <td>{{ demande.demandeur }}</td>
                        <td>{{ demande.created_on |date:"d m Y" }}</td>
                        <td>{{ demande.date_deplacement |date:"d/m/Y H:i" }}</td>
                        <td>{{ demande.date_retour |date:"d/m/Y H:i" }}</td>
                        <td><a href="{% url 'demande-chauffeur-detail' id=demande.demande_id %}"
                        class="btn btn-sm btn-outline-primary">Recapulatif</a></td>
                        <td><a href="{% url 'demande-chauffeur-download' id=demande.demande_id %}"
                        class="btn btn-sm btn-outline-success">Telecharger</a></td>
                        <td><a href="#" class="btn btn-block btn-warning">{{ demande.status }}</a> </td>
                        <td>{{ demande.last_modified |date:"d m Y" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            {% if demandes.has_previous %}
                <a href="?page=1" class="btn btn-primary btn-sm">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <a href="?page={{ demandes.previous_page_number }}" class="btn btn-primary btn-sm">
                    <i class="fa fa-angle-left"></i>
                </a>

            {% endif %}
            Page {{ demandes.number }} of {{ demandes.paginator.num_pages }}

            {% if demandes.has_next %}
                <a href="?page={{ demandes.next_page_number }}" class="btn btn-primary btn-sm">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a href="?page={{ demandes.paginator.num_pages }}" class="btn btn-primary btn-sm">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}