{% extends 'main/layouts.html' %}
{% load static %}
{% block title %}Liste utilisateurs{% endblock title %}

{% block content %}
    <div class="col-xl-auto col-lg-auto mb-4 mx-auto">
        <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Utilisateur</h6>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Filial</th>
                        <th>Departement</th>
                        <th>Type</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u in users %}
                        <tr>
                            <td>{{ u.first_name }}</td>
                            <td>{{ u.last_name }}</td>
                            <td>{{ u.email }}</td>
                            <td><a href="#" class="btn btn-sm btn-outline-primary">{{ u.filial }}</a></td>
                            <td><a href="#" class="btn btn-sm btn-outline-success">{{ u.departement }}</a></td>
                            {% if u.is_superuser %}
                                <td><a href="#" class="btn btn-sm btn-outline-warning">Admin</a></td>
                            {% elif u.is_manager %}
                                <td><a href="#" class="btn btn-sm btn-outline-warning">Responsable</a></td>
                            {% elif u.is_employee %}
                                <td><a href="#" class="btn btn-sm btn-outline-warning">Employee</a></td>
                            {% else %}
                                <td><a href="#" class="btn btn-sm btn-outline-warning">Chauffeur</a></td>
                            {% endif %}
                            <td>
                                <a href="{% url 'edit-profile' id=u.id%}" class="btn btn-sm btn-success">Edit</a>
                            </td>
                            <td>
                                <a href="{% url 'password-change' id=u.id%}" class="btn btn-sm btn-warning">Changer Mot de passe</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                {% if users.has_previous %}
                    <a href="?page=1" class="btn btn-primary btn-sm">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                    <a href="?page={{ users.previous_page_number }}" class="btn btn-primary btn-sm">
                        <i class="fa fa-angle-left"></i>
                    </a>
                {% endif %}
                Page {{ users.number }} of {{ users.paginator.num_pages }}

                {% if users.has_next %}
                    <a href="?page={{ users.next_page_number }}" class="btn btn-primary btn-sm">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                    <a href="?page={{ users.paginator.num_pages }}" class="btn btn-primary btn-sm">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}